body {
    background-color: rgba(245, 27, 151, 0.153);
  }
  body {
  margin-top: 0px;
  padding: 0px;
  }

  h1{font-style: italic;
    text-align:center;font-size: 40px;color:rgb(226, 43, 61);
  }
  