body {
    background-color: rgba(245, 27, 151, 0.153);
  }
  body {
  margin-top: 0px;
  padding: 0px;
  }

  h1{font-style: italic;
    text-align:center;font-size: 40px;color:rgb(226, 43, 61);
  }
  
  .border {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 6px;
  }


  .p-border  {
    border: 2px solid powderblue;
    margin: 5px;
    color: rgb(49, 94, 240);
  }